<DBreadcrumbsContainer>
  <DBreadcrumbsItem @path="/admin" @label={{i18n "admin_title"}} />
  <DBreadcrumbsItem @path="/admin/plugins" @label={{i18n "admin.plugins.title"}} />
  <DBreadcrumbsItem @path="/admin/plugins/moderation-api" @label={{i18n "moderation_api.title"}} />
</DBreadcrumbsContainer>

<DPageHeader
  @titleLabel="moderation_api.title"
  @descriptionLabel="moderation_api.settings.header_description"
  @learnMoreUrl="https://meta.discourse.org/t/creating-consistent-admin-interfaces/326780"
>
  <:actions as |actions|>
    {{#if siteSettings.moderation_api_enabled}}
      <actions.Primary
        @action={{action "saveSettings"}}
        @label={{i18n "admin.save"}}
      />
    {{/if}}
  </:actions>
</DPageHeader>

{{#if siteSettings.moderation_api_enabled}}
  <div class="admin-container">
    <div class="admin-controls">
      <div class="setting-item">
        <label class="setting-label">{{i18n "moderation_api.settings.flagging_behavior"}}</label>
        <ComboBox @value={{siteSettings.moderation_api_flagging_behavior}} @content={{flaggingBehaviors}} @onChange={{action "updateFlaggingBehavior"}} />
      </div>

      <div class="setting-item">
        <label class="setting-label">{{i18n "moderation_api.settings.block_message"}}</label>
        <TextField @value={{siteSettings.moderation_api_block_message}} @onChange={{action "updateBlockMessage"}} />
      </div>

      <div class="setting-item">
        <label class="setting-label">{{i18n "moderation_api.settings.notify_on_post_queue"}}</label>
        <Input @type="checkbox" @checked={{siteSettings.moderation_api_notify_on_post_queue}} @onChange={{action "updateNotifyOnPostQueue"}} />
      </div>

      <div class="setting-item">
        <label class="setting-label">{{i18n "moderation_api.settings.check_private_message"}}</label>
        <Input @type="checkbox" @checked={{siteSettings.moderation_api_check_private_message}} @onChange={{action "updateCheckPrivateMessage"}} />
      </div>

      <div class="setting-item">
        <label class="setting-label">{{i18n "moderation_api.settings.skip_groups"}}</label>
        <GroupSelector @value={{siteSettings.moderation_api_skip_groups}} @onChange={{action "updateSkipGroups"}} />
      </div>

      <div class="setting-item">
        <label class="setting-label">{{i18n "moderation_api.settings.skip_categories"}}</label>
        <CategorySelector @value={{siteSettings.moderation_api_skip_categories}} @onChange={{action "updateSkipCategories"}} />
      </div>

      <div class="setting-item">
        <label class="setting-label">{{i18n "moderation_api.settings.api_key"}}</label>
        <TextField @value={{siteSettings.moderation_api_key}} @type="password" @onChange={{action "updateApiKey"}} />
      </div>

      <div class="setting-item">
        <label class="setting-label">{{i18n "moderation_api.settings.webhook_signing_secret"}}</label>
        <TextField @value={{siteSettings.moderation_api_webhook_signing_secret}} @type="password" @onChange={{action "updateWebhookSigningSecret"}} />
      </div>
    </div>
  </div>
{{else}}
  <div class="admin-container">
    <div class="alert alert-warning">
      {{i18n "moderation_api.settings.plugin_disabled"}}
    </div>
  </div>
{{/if}} 